@model QLBanHang.Models.SanPham
   @using QLBanHang.Models

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết @Model.TenSP</h2>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donvitinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>

        <dd>
            @String.Format("{0:0,### VNĐ}", Model.Dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSP.TenLoaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.TenLoaiSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhSP)
        </dt>

        <dd>
            @Html.Image("../../" + Model.HinhSP, "120", "180", "")
        </dd>
        <br />
        <dt></dt>
        <dd>
            <a href="@Url.Action("AddToCart", "GioHang", new {MaSP = Model.MaSP })" class="btn btn-success">
                <span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ hàng
            </a>
            <a class="btn btn-success" href="@Url.Action("Index", "Home")">Quay lại</a>
        </dd>
    </dl>
</div>

